<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=payments_system_db;Integrated Security=True; Connection Timeout = 45;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>